// FLEXBOX 
nav  {
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.banner {
    flex: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("/imgs/hellboy.jpg");
    background-repeat: no-repeat;
}

.banner-center {
    margin-top: 700px;
}
.banner h1 {
    font-family: "Bangers", sans-serif;
    font-size: 88px;
    text-transform: uppercase;
    color: #fff;

    h3 {
        text-transform: capitalize;
        font-size: 20px;
        color: #fff;
    }
}
.banner-icons {
    padding: 0px;

    a {
        display: inline-block;
        font-size: 30px;
        padding: 5px 10px;
        margin:  10px;
        border-radius: 50%;
        color: seagreen;
        transition: color 1s ease, transform 1s ease;
    }
        &:hover {
            color: rgb(238, 248, 242);
                transform: translateY(-10px);
        }
}

